doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    p Welcome to #{title}
    hr    
    block content
    hr
    p
      n-lab 2013 
      a(href='mailto:guoxin.lai@gmail.com') [by guoxin.lai]